{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <title>Wanderly</title>
</head>
<body>
    <header>Wanderly</header>
    <main>
        <h1>Start your travel journey here</h1>
        <p>Click here to start planning a trip</p>
    </main>
    <footer>
        <p>Created by Ava, Riley, Jonah, and Gabe — 10/1/2025</p>
        <p>Contact</p>
    </footer>
</body>
</html>
