.info-section { 
    background: linear-gradient(135deg, #da3068 0%, #3e149f 100%); 
    color: #fff; 
}

.btn-primary {
    background: linear-gradient(135deg, #da3068 0%, #3e149f 100%);
    border: none; padding: .75rem 2rem; font-weight: 500;
}
.btn-outline-primary:hover { 
    background: linear-gradient(135deg, #da3068 0%, #3e149f 100%); 
    color:#fff; 
}
.rounded-xxl { 
    background: transparent; 
    border: 0; 
    border-radius: 30px; 
    overflow: hidden; 
}
.rounded-xxl .card-body.gradient { 
    background: linear-gradient(135deg, #e3bfe3 0%, #b9a3e3 100%); 
    border-radius: inherit; 
    background-clip: padding-box;
}
.stop-row .form-control { 
    height: 50px; 
    border-radius: 30px; 
    padding-left: 16px; 
}
#map-img { 
    max-width:100%; 
    border-radius: 16px; 
}