:root {
    --primary-color: #eda400;
    --border-radius: 1rem;
    --gradient-start-color: #eda400;
    --gradient-end-color: #91438a;
    --soft-gradient-start-color: #e8b33f;
    --soft-gradient-end-color: #8f5189;
    --text-color: #faf6ed;
}

h1 {
    font-size: 10rem;
}

footer {
    background: #2A1C22;
    color: #faf6ed;
}

.search-container {
    position: relative;
    width: 75%;
    margin: 0 auto;
    margin: 1rem auto 0;
}

.search-input {
    height: 50px;
    border-radius: 30px;
    padding-left: 35px;
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #888;
    z-index: 1;
}

.search-btn {
    position: absolute;
    right: 5px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 25px;
    padding: 8px 25px;
}

.btn-primary {
    background: linear-gradient(135deg, #eda400 0%, #91438a 100%);
    border: none;
    padding: 0.75rem 2rem;
    font-weight: 500;
}

.btn-secondary {
    background: var(--primary-color);
    border-radius: var(--border-radius);
    border: none;
}

.btn-secondary:hover {
    background: var(--soft-gradient-start-color);
}

.carousel-button {
    color: var(--primary-color);
}

.carousel-container {
    margin: 0 auto;
    color: var(--primary-color);
}

.carousel-caption {
    color: black;
    background: white;
    width: 50%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 50px;
}

.carousel-inner img {
    width: 100%;
    height: auto;
    max-height: 33rem;
    object-fit: cover;
    object-position: center;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: crisp-edges;
}

.rounded-card {
    border-radius: 1rem;
}

.card-body {
    background: linear-gradient(135deg, var(--soft-gradient-start-color) 0%, var(--soft-gradient-end-color) 100%);
    color: var(--text-color);
    border-radius: 0 0 1rem 1rem;
}

.discover-container {
    margin: 1rem 0rem 5rem 0rem;
}

.place-img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.image-container img {
  display: block;
  width: 100%;
  height: auto;
}

.overlay-text {
    position: absolute;
    top: 40%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    color: #fff; 
    padding: 10px 20px; 
    text-align: center;
}

.access-code-modal {
    background: linear-gradient(135deg, var(--primary-color) 0%, #91438a 100%);
}

.access-code-button {
    background: var(--primary-color);
}

.access-code-button:hover {
    background: #ebbf5e;
}

.access-code-modal .modal-header,
.access-code-modal .modal-body,
.access-code-modal .modal-footer {
    background: transparent;
}