:root {
    --bs-primary: #F1BF98;
    --bs-border-radius: 1rem;
}

.card, .btn, .info-section img, .rounded-4 { border-radius: var(--bs-border-radius) !important; }
.card-hover { 
    transition: transform .12s ease; 
    box-shadow: .12s ease;
    border-color: .12s ease;
    background-color: #E1F4CB;
}
.card-hover:hover { transform: translateY(-2px); box-shadow: 0 .8rem 1.6rem #3F4739; border-color: #717568; }

.container { max-width: 1100px; }

.vacation-image { max-width: 600px }
.info-section img { display: block; margin-left: auto; margin-right: auto; }

.info-section{
    background: linear-gradient(180deg, var(--bs-secondary-bg, #F1BF98), rgba(0,0,0,0));
    background-color: #F1BF98;
}

.features {
    background-color: #F1BF98;
}