/* static/styles.css */
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;

    display: flex;              
    flex-direction: column;     
    justify-content: center;    
    align-items: center;        
    height: 100vh;              
    text-align: center;        
}

header, main, footer {
    background-color: #ffffff;
    padding: 20px;
    margin: 10px;
    width: 60%;
    border-radius: 6px;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

header {
    font-size: 1.5em;
    font-weight: bold;
}
