colorama~=0.4.6
Django~=5.2
dj-database-url~=3.0.1
django-bootstrap5~=25.2
djangorestframework~=3.16.1
google-api-python-client~=2.184.0
gunicorn~=23.0.0
numpy~=2.3.3
openai~=2.5.0
psycopg2-binary~=2.9.10
python-dotenv~=1.1.1
pytz~=2025.2
six~=1.17.0
tzdata~=2025.2
uvicorn~=0.37.0
whitenoise~=6.11.0
requests~=2.32