name: CD-Pipeline

on:
  pull_request:
    types:
      - closed   # triggers when PR is closed (merged OR just closed)
    branches:
      - main


env:
  PYTHON_VERSION: "3.12"
  PROJECT_DIR: Wanderly

jobs:

  cd-pipeline-deploy:
    #needs: test
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/main'

      
    steps:
      - name: Trigger Render deploy via Deploy Hook
        run: |
          curl -fsSL -X POST "$RENDER_DEPLOY_HOOK_URL"
        env:
          RENDER_DEPLOY_HOOK_URL: ${{ secrets.RENDER_DEPLOY_HOOK_URL }}